*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(205, 50, 130);
}
header{
    margin-top: 10px;
    padding-left: 40%;
    color: white;
}
h2{
    border-bottom: 5px solid black;
}
p{
    font-size: 20px;
    padding-top: 10px;
}
ul{
    padding-left: 30px;
    list-style-type:square;
    font-size: 20px;
}
section{
    border: 2px solid violet;
    border-radius: 15px;
    background-color: white;
    margin-top: 5px;
}