*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.links{
 overflow: hidden;
 border: 2px solid green;
}
header h1{
  color: maroon;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px 25px;
  display: inline;
  color: black;
}
header h1:hover{
  color: violet;
  cursor: pointer;
}
.tabs{
  border: 2px solid violet;
  border-radius: 14px;
  font-size: 20px;
  padding: 20px 60px;
  margin: 27px 30px;
  background-image: linear-gradient(white, violet, pink);
}
